/* Color palette */

:root {
    --very-light-pink: #ebebeb;
    --brown-grey: #9b9b9b;
    --deep-orange: #d35400;
    --jade-green: #27ae60;
    --very-light-pink-50: rgba(235, 235, 235, 0.5);
    --dark-grey-blue: #395067;
    --blue-grey: #79899a;
    --white: #ffffff;
    --black: #2a2a2a;
  }

body {
  margin: 0px;
  height: 1750px;
}
.header {
  width: 100%;
  height: 140px;
  background-color: var(--jade-green);
  padding: 15px;
}

.header-content {
  font-family: Avenir;
  display: inline-block;
  font-size: 70px;
  font-weight: 450;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.hidden {
  display: none
}

#help-text {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 230px;
}

#new-welcome {
  text-align: center;
  width: 100%;
  font-family: Avenir;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 85px;
  color: #000000;
}

#dashboard {
  text-align: center;
  width: 100%;
  font-family: Avenir;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 85px;
  color: #000000;
}

#italic {
  font-family: Avenir;
  font-size: 40px;
  font-weight: 300;
  font-style: oblique;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--brown-grey);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.smile {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 70px;
}

#menu {
  padding-left: 40px;
  color: #d8d8d8;
}

#issues-title {
  padding-top: 10px;
  width: 80%;
  text-align: center;
}

#add-issue {
  right: 15px;
  color: #d8d8d8;
}

#issues-container {
  width: 100%;
}

.issue {
  margin-top: 45px;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 20px;
  width: 90%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 3px 10px 1px rgba(120, 120, 120, 0.35);
  background-color: var(--blue-grey);
}

.issue-date {
  width: 100%;
  font-family: Avenir;
  font-size: 30px;
  height: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--very-light-pink);
}

.issue-content {
  display: block;
  height: 190px;
  font-family: Avenir;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-light-pink);
  margin-right: 30px;
  margin-left: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px !important;
}
.issue-footer {
  width: 100%;
  height: 65px;
}

.issue-button {
  margin-top: 5px;
}

.issue-react-angry {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 100%;
  font-family: Avenir;
  font-size: 40px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-light-pink);
  border-left-style: solid;
  border-left-width: .5px;
}

#add-issue-modal {
  border-radius: 10px;
  box-shadow: 5px 3px 10px 1px rgba(120, 120, 120, 0.35);
  background-color: var(--blue-grey);
  position: fixed;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  height: 400px;
  top: 300px;
  opacity: 0;
  pointer-events: none;
  padding: 20px;
}

.adding-issue #page-container {
  -webkit-filter: blur(5px) brightness(125%);
}

.adding-issue #add-issue-modal {
  opacity: 1;
  pointer-events: auto;
}

#page-container, #add-issue-modal {
  transition: all 0.4s ease; /* prefix me */
}

body {
  -webkit-transform: translateZ(0);
}
@include transition(all 0.4s ease);
@include filter(blur(5px) grayscale(50%));

#add-issue-header {
  width: 100%;
  height: 70px;
  text-align: center;
}

#add-issue-title {
  width: 80%;
  text-align: center;
  font-family: Avenir;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-light-pink);
  display: inline-block;
}

.close-button {
  display: inline-block;
  color: var(--very-light-pink);
  right: 10px;
}

#new-issue-text {
  background: transparent;
  border: none;
  font-size: 40px;
  width: 100%;
  height: 60%;
  font-family: Avenir;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--very-light-pink);
  word-break: break-word;
}

#new-issue-text::placeholder {
  font-style: oblique;
  color: var(--very-light-pink-50);
}

*:focus {
    outline: none;
}

#new-issue-footer {
  width: 100%;
  text-align: center;
  align-content: center;
}

#nevermind {
  display: inline-block;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--very-light-pink);
  font-family: Avenir;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-grey);
  padding: 5px;
  margin-right: 30px;
}

#post {
  display: inline-block;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--very-light-pink);
  font-family: Avenir;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-grey);
  padding: 5px;

}

#dark-blur {
  visibility: hidden;
  background-color: var(--black);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
}

#sidebar {
  left: -60%;
  height: 100%;
  width: 60%;
  background-color: var(--jade-green);
  position: absolute;
  top: 0px;
}

#sidebar-header {
  width: 100%;
  height: 140px;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  font-family: Avenir;
  font-size: 70px;
  text-align: center;
}

.close-sidebar {
  position: absolute;
  left: 50px;
  top: 50px;
  color: var(--white);
}

#user-status {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 60px;
  font-family: Avenir;
  color: var(--white);
}

#user-status-heading {
  font-size: 40px;
  font-style: oblique;
}

.status {
  margin-top: 30px;
}

.sidebar-title {
  font-size: 45px;
  font-weight: 300;
}

.balance-value {
  font-size: 120px;
  font-weight: 500;
}

#penalty {
  border-top-style: solid;
  border-top-width: .5px;
}

#logout {
  width: 100%;
  height: 70px;
  position: absolute;
  text-align: center;
  font-size: 60px;
  font-family: Avenir;
  color: var(--white);
  bottom: 30px;
  border-top-style: solid;
  border-top-width: .5px;
}
