/*
    CSS Reset - resets any existing browser styles
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CODE BEGINS */

/*
    ===============================
    Grid
    ===============================
*/

*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 80%;
}

div.logo_symbol img{
    max-width: 30%;
    margin-top: 10%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.login-box{
    background: white;
    border-radius: 10px;
    margin-top: 10%;
}

div.logo_tagline{
    padding: 26px;
}

div.logo_tagline img{
    max-width: 262px;
    margin-top: 40px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

div.fields {
    padding: 60px 20px;
}

div.fields .text_field{
    padding: 8px;
    width: 100%;
    height: 40px;
    border-color: var(--jade-green);
    border-style: solid;
    margin: 7px auto;

    font-family: Avenir;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;

}

div.login-buttons {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.green-button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: var(--jade-green);
    padding: 8px 50px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    width: 48%;
}

.green-button:hover {
    background-color: var(--blue-grey);
}


/*
    ===============================
    Typography
    ===============================
*/

body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: linear-gradient(to bottom, #11998e, #38ef7d) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/* Color palette */

:root {
    --very-light-pink: #ebebeb;
    --brown-grey: #9b9b9b;
    --deep-orange: #d35400;
    --jade-green: #27ae60;
    --very-light-pink-50: rgba(235, 235, 235, 0.5);
    --dark-grey-blue: #395067;
    --blue-grey: #79899a;
    --white: #ffffff;
  }
  
  /* Sample text styles */
  
  header {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }